* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.aside {
    width: 20%;
    height: 100%;
    float: left;
    overflow-y: auto
}

.submenu_header {
    padding: 0 16px;
    background-color: rgb(197, 189, 137);
    user-select: none;
    height: 70px;
    line-height: 70px;
}

.submenu>ul {
    display: none;
}

.submenu_header span {
    font-size: 16px;
}

.submenu_header:hover {
    background-color: rgb(108, 135, 174);
}

.item:hover {
    background-color: rgb(164, 164, 164);
}

.item {
    list-style-type: none;
    margin-left: 20px;
    margin-bottom: 10px;
    user-select: none;
    color: rgb(0, 0, 0);
}

.view {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 80%;
    height: 100%;
    float: right;
}

#map_container {
    z-index: 0;
    width: 100%;
    height: 100%;
}

#toolbar {
    top: 20px;
    left: 20px;
    opacity: 0.8;
    border-radius: 15px;
    z-index: 1;
    position: absolute;
    display: inline-block;
    padding: 10px;
    background-color: rgb(99, 164, 222);
    user-select: none;
}

.icon_button {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}