* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.aside {
    display: block;
    left: 20px;
    top: 20px;
    opacity: 0.95;
    z-index: 1;
    position: absolute;
    width: 30%;
    border-radius: 15px;
    overflow-y: hidden;
}

.submenu_header {
    padding: 0 16px;
    background-color: rgb(244, 244, 244);
    user-select: none;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

/*滚动方式*/
.submenu {
    max-height: 400px;
}

.subul {
    max-height: 300px;
    overflow-y: auto;
}


.itemlist {
    max-height: 10%;
}

.infopage {
    padding: 15px 2em;
    max-height: 10%;
    display: none;
    background-color: rgb(244, 244, 244);
}

#searchresult {
    max-height: 300px;
    overflow-y: auto;
}

.searchdiv {
    padding: 10px 10px;
    display: none;
    background-color: rgb(244, 244, 244);
}

/*滚动条样式*/
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

*::-webkit-scrollbar-track {
    background-color: #eaeaea;
}

.submenu_header_active {
    padding: 0 16px;
    background-color: rgb(178, 204, 240);
    user-select: none;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

.submenu>ul {
    display: none;
}

.submenu_header span {
    font-size: 16px;
    color: #000000;
}

.submenu_header:hover {
    background-color: rgb(178, 204, 240);
}

.item:hover {
    background-color: rgb(179, 179, 179);
}

.item {
    list-style-type: none;
    font-size: 15px;
    padding: 1em;
    user-select: none;
    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #a4a4a4;
}

.view {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    float: right;
}

#map_container {
    z-index: 0;
    width: 100%;
    height: 100%;
}

#toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(122, 203, 245);
    user-select: none;
}

.icon_button {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.filter {
    padding: 1em;
    display: block;
    line-height: 30px;
    background-color: rgb(246, 186, 184);
    user-select: none;
}


#buttonfilter {
    padding: 2px 5px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    height: 30px;
    width: 70px;
    border-radius: 15px;
}

.select {
    width: 22%;
    background: transparent;
    border: 1px solid #000000;
    line-height: 20px;
    height: 20px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 4px;
    color: #000000;
}

#search-box {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 8px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 95px;
}

#search {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}